// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap";

.navbar {
background-color: #6df0f7 !important;
}

.nav-link {
    color:  #000608 !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #0e5a5e;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


#home-container {
  margin-top: 25px;
  }
  
  
  
.jumbotron {
    background-image: asset-url('mountains.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightblue;
}

#sticky-footer {
  flex-shrink: none;
}

